.address-block {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 5px;
}

.street-field {
    width: 50%;
    height: 20px;
}

.city-field, .state-field, .zip-field {
    flex: 1;
}

.city-field {
    width: 20%;
}

.state-field {
    width: 10%;
}

.zip-field {
    width: 20%;
}