/* Main container styling for EditableFieldsPane */
.editable-fields-pane {
    /* padding: 15px; */
    /* border: 1px solid #ccc; */
    /*border-radius: 8px;*/
    /*background-color: #f9f9f9;*/
    /*max-width: 300px;*/
    /*font-family: Arial, sans-serif;*/
}

/* Styling each field container */
.editable-fields-pane .field {
    display: flex;
    align-items: center;
    height: 20px;
}

/* Field labels styling */
.editable-fields-pane .field label {
    font-weight: bold;
    width: 100px; /* Fixed width for alignment */
    color: var(--color-main-black);
}

/* Displayed text (non-editable state) */
.editable-fields-pane .field .field-text {
    color: #555;
    cursor: pointer;
    flex: 1;
    padding: 4px;
    border: 1px solid transparent; /* Transition effect */
    border-radius: 4px;
    transition: border-color 0.2s ease;
}

/* Hover effect for field text to indicate it's editable */
.editable-fields-pane .field .field-text:hover {
    border-color: var(--color-main-green); /* Light border to show editability */
    transition: none;
}

/* Editable input styling */
.editable-fields-pane .field .field-input {
    flex: 1;
    padding: 4px;
    font-size: 1em;
    /*border: 1px solid #007bff;*/
    border-radius: 4px;
    outline: none;
}

/* Adjustments for the last field to remove extra margin */
.editable-fields-pane .field:last-child {
    margin-bottom: 0;
}

.fields-container {
    /*background-color: white;*/
    /*margin: 3px;*/
    padding-right: 30px;
    border-radius: 5px;
}

.field {
    margin-left: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#age-div {
    margin-bottom: 10px;
}

