body {
    text-align: center; /* Centers text in the body */
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

div {
    margin: 0 auto; /* Centers divs in the body */
    text-align: center; /* Centers text within each div */
}

img {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the image within its container */
}

.image-div {
    margin-top: 100px;
}

#submit-button {
    appearance: none;
    background-color: white;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    /* top, right, bottom, and left */
    padding: 10px 10px 11px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

#submit-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

#submit-button:hover {
    background-color: grey;
    color: white;
}

#submit-button:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
}