body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 250px;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007f6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00b28f;
}

.error {
  color: red;
}

.alt-path {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-path a {
  color: aliceblue;
  font-size: 14px;
  text-decoration: none; /* Optional: Removes the underline from the link */
}

.submit-button-div {
  margin-top: 20px;
}

.highlight {
  color: #00b28f; /* Change this to your desired color */
}

.text-body {
  width: 60%;
  margin: 0 auto; /* Center the element horizontally */
  padding-top: 20px;
}

.email-div {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Space out the children (input field and button) */
  gap: 10px; /* Set a gap of 10px between the children */
}

.block-info {
  padding-top: 20px;
}