.tabs-container {
  max-width: 100vw;
  min-height: 100vh;
  /* margin: 30px auto; */
  display: flex;
  background: #ddd;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.tabs-container .tabs {
  width: 60px;
  text-align: center;
}

.tabs-container .tabs .tab {
  padding: 12px 16px;
  /* background: #222; */
  background: #ddd;
  cursor: pointer;
}

.tabs-container .tabs .tab.active {
  background: #fff;
  /* color: #222; */
  color: #007f6b;
  font-weight: bold;
  background-image: linear-gradient(to right, #007f6b 7px, rgba(255, 255, 255, 0.1) 7px);
}

.tabs-container .content-container {
  background: #fff;
  width: 100vw;
}

.tabs-container .content-container .content {
  display: none;
  padding: 10px;
}

.tabs-container .content-container .content.active {
  display: block;
}

.tabs-container .content-container h3 {
  margin: 0;
  font-size: 18px;
}

.tabs-container .content-container p {
  line-height: 1.2;
}

.person-info {
  /* margin-top: 30px; */
  padding-top: 10px; /* Space that looks like a top margin */
  margin-left: 20px;
  background: white;
  height: 85vh;
  overflow: auto;
}

.top-margin {
  margin-top: 50px;
}

#top-spacer {
  background: #ddd;
  height: 5px;
}

.line-half {
  width: 50%;
  margin-left: 0;
}

.line-full {
  width: 100%;
  margin-left: 0;
}

.edit-icon {
  width: 20px;
  height: 20px;
}

.edit-link {
  margin-left: auto; /* Pushes the link to the right */
  /* Initial background color */
  background-color: #ffffff; /* White */
  /* Other styles for positioning and sizing */
  display: flex; /* or block, depending on your layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 5px; /* Optional, for some space around the image */
  border-radius: 5px;
  transition: background-color 0.3s; /* Smooth transition for the background color */
  text-decoration: none; /* Optional, to remove the underline from the link */
}

.edit-link:hover {
  /* Background color on hover */
  background-color: #f6f3f3; /* Red */
}

.person-edit-div {
  margin-bottom: 10px;
  /* background: blue; */
}

.field-label {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 5px;
}

.inline-icons {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-around; /* Space out the items evenly */
}

.inline-icons a {
  display: inline-block; /* Make each link an inline-block element */
  margin-right: 10px; /* Add some margin to the right for spacing */
}

.inline-icons a:last-child {
  margin-right: 0; /* Remove margin for the last item to avoid extra spacing */
}

.inline-icons img {
  display: block; /* Make images block elements to respect width and height */
}

.error-div {
  color: red;
  display: none;
}

/* Officer edit css */

.officer-edit-container {
  padding: 20px;
  border-radius: 7px;
  width: 50%;
}

.officer-sub1 {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.officer-sub2 {
  padding-bottom: 10px;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.checkbox-label label {
  color: black; /* or any other color */
}

.checkbox-container-div {
  display: flex;
  align-items: center; /* Keeps elements aligned vertically */
  margin-left: 20px;
  vertical-align: middle;
}

/* Ensure the checkbox and label have the same line-height and height */
.checkbox-container-div input[type="checkbox"],
.checkbox-container-div label {
  height: 30px; /* Adjust as needed */
  line-height: 30px; /* Adjust as needed */
}

label {
  color: black; /* or any other color */
}

input[type="checkbox"] {
  margin-right: 10px; /* Adds some space between the checkbox and the label */
}

.fiscalYear-input {
  width: 40px;
  margin-right: 10px;
}

.officer-input {
  width: 45%;
}

/* Email stuff */

.email-edit-container {
  padding: 20px;
  border-radius: 7px;
  width: 50%;
}

.email-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  padding-right: 10px;
  /* margin-bottom: 10px; */
}

.email-text-input {
  width: 70%;
}

.checkbox-container-div {
  display: flex;
  align-items: center; /* Keeps elements aligned vertically */
  margin-left: 20px;
  vertical-align: middle;
}

/* Ensure the checkbox and label have the same line-height and height */
.checkbox-container-div input[type="checkbox"],
.checkbox-container-div label {
  height: 30px; /* Adjust as needed */
  line-height: 30px; /* Adjust as needed */
}

/* phone stuff */

.phone-input {
  width: 140px;
}

.phone-edit-container {
  padding: 10px;
  width: 50%;
  border-radius: 7px;
}

.phone-sub1 {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-sub2 {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.error-top {
  text-align: center; /* This will center text inside <p> horizontally */
}

.red-alert {
  margin-top: 10px;
  background: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.blue-alert {
  margin-top: 10px;
  background: blue;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.person-icon {
  width: 20px;
  height: 20px;
}

.custom-select {
  width: 100px;
  margin-left: 20px;
}
