/*<div class="sidenav">*/
/*<div id="logo"></div>*/
/*<div id="links"></div>*/
/*<div id="controls"></div>*/
/*</div>*/


.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* width of the sidebar */
    background-color: var(--color-main-offcolor);
    overflow-x: hidden;
    z-index: 2;
}

.sidenav a {
    padding: 6px 8px 6px 25px;
    text-decoration: none;
    font-size: 18px;
    width: 250px;
    display: flex;
    text-decoration: none;
    color: var(--color-main-black-full);
    cursor: pointer;
}

.sidenav a.active {
    color: var(--color-main-offcolor);
}

.sidenav a:hover {
    background-image: linear-gradient(
            to right,
            var(--color-main-gray) 7px,
            rgba(255, 255, 255, 0.1) 7px
    );
    color: var(--color-main-green);
}

.sidenav a.selected {
    background-image: linear-gradient(
            to right,
            var(--color-main-green) 7px,
            rgba(255, 255, 255, 0.1) 7px
    );
    color: var(--color-main-black-full);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 50px;*/
    background-color: var(--color-main-green);
    padding-top: 10px;
    padding-bottom: 30px;
}

#links {
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 0;
        display: none; /* Or adjust for a small icon menu */
    }
}

#sidenav-year-container {
    /* Adjust the width as needed */
    margin-left: 25px;
    margin-bottom: 30px;
}

#mainNavigation {
    margin-top: 10px;
}

/* Tab styling */
.tabs {
    display: flex;
    width: 100%;
}

/* Main and Page Navigation Styling */
#mainNavigation, #pageNavigation {
    /*border-top: 5px solid #ccc;*/
    /*border-color: #007f6b;*/
}

/* Custom tab styling for a specific tab pane */
#roster-tab-div .tab {
    width: 150px;  /* Specific width for this tab pane */
    flex: none;    /* Disable flex behavior to use fixed width */
    /*margin-right: 5px;  !* Optional: spacing between tabs *!*/
}

/* Optional: custom active tab style for this tab pane */
#roster-tab-div .tab.active {
    background-color: var(--color-main-black);
    color: white;
}

