/* This is the table */
.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  /*min-width: 400px;*/
  width: 1000px;
}

.styled-table thead tr {
  background-color: var(--color-main-offcolor);
  color: var(--color-main-green-second);
  text-align: left;
  padding-left: 10px;
  /*display: block;*/
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid var(--color-main-border);
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: var(--color-main-offcolor);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-main-green-second);
}

.styled-table tbody tr:hover {
  background-color: var(--color-main-highlight); /* Or any color you prefer */
}

/* This applies to links inside your header cells by default */
.header-link th a,
.header-link th a:visited,
.header-link th a:active {
  color: var(--color-main-offcolor); /* Links are white */
  text-decoration: none; /* No underline */
}

/* This changes the background color of the header cell and the color of the links when hovered */
.header-link th:hover {
  background-color: var(--color-main-offcolor); /* Background color of the cell */
}

.header-link th:hover a {
  color: var(--color-main-black-full); /* Text color of the links */
}

/* New stuff below here */
/* Div before the table  */
.main-content {
  display: block;
  max-height: calc(100vh);
  overflow-y: auto;
  overflow-x: hidden;
}

.styled-table thead th {
  position: sticky;
  top: 0;
  /*background-color: #007f6b; !* Set this to the background color of your header *!*/
  /*background-color: var(--color-main-black);*/
  z-index: 10;
}

#first-header {
  padding-left: 10px;
}

/*new stuff*/
.vbox {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  width: 100%; /* Adjust width as necessary */
  height: 100%; /* Make the parent take the full viewport height (optional) */
}

/*This is the top div in membership view*/
.top-div {
  display: flex;                /* Enable Flexbox */
  flex-direction: row;           /* Arrange children in a row (horizontal) */
  justify-content: space-around; /* Distribute space evenly between children */
  background-color: var(--color-main-offcolor);
  align-items: center;  /* Vertically centers the text */
  color: var(--color-main-black-full);
  height: 40px;
  text-align: center;
  /* I have added 4 paragraphs to this div, they are currently stacked vertically. I want this to act like an HBox in JavaFX instead */
}

.labeled-text-div {
  display: flex;                /* Enable Flexbox */
  flex-direction: row;           /* Arrange children in a row (horizontal) */
  justify-content: space-around; /* Distribute space evenly between children */
  text-align: center;
}

.labelText {
  margin-right: 12px;
}

.infoText {
  color: var(--color-main-green);
}

.membership-section {
  background-color: var(--color-main-gray);
  /*border-radius: 10px;*/
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.header {
  background-color: var(--color-main-gray);
  color: var(--color-main-green);
}

#tab-button-roster {
  background-color: var(--color-main-gray);
  color: var(--color-main-offcolor);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}