.tab-buttons {
    padding-top: 8px;
}

.tab-buttons button {
    width: 100px;
    /*background-color: var(--color-main-black);*/
    background-color: var(--color-main-green);
    color: var(--color-main-white);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; /* Allow positioning the close button inside the tab */
    /* Ensure there's space for the close button */
    padding: 5px 30px 5px 10px;
    text-align: center;
}

.tab-buttons button.active {
    background-color: var(--color-main-white);
}

.tab-buttons-horizontal button {
    border-radius: 5px 5px 0 0;
    margin-right: 1px;
}

.tab-buttons-vertical button {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-bottom: 1px;
}

.tab-buttons button.active {
    background-color: var(--color-main-white);
    font-weight: bold;
    color: var(--color-main-black-full);
}

.tab-content-horizontal {
    background-color: var(--color-main-white);
}

/*.membership-content {*/
/*    background-color: var(--color-main-white);*/
/*}*/

.tab-content-vertical {

}


 Hover effect
.tab-buttons button:hover {
    background-color: var(--color-main-green);
}

.close-tab {
    position: absolute;
    top: 2px; /* Adjust to your needs, controls vertical position */
    right: 5px; /* Align it to the right */
    color: var(--color-main-black);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px; /* Adjust the size to make it larger */
    line-height: 1; /* Adjust the line height for proper alignment */
}

.close-tab:hover {
    color: var(--color-main-green);
}

.content-node-person {
    display: flex;
    flex-direction: row;
    background-color: var(--color-main-offcolor);
    border-radius: 5px;
}

.person-extra-tabpane-div {
    padding-top: 3px;
    height: 100%;
    padding-right: 5px;
}

.person-accessories-button-div {
    padding-right: 5px;
}

/*main div that holds all the divs that hold the content*/
.tab-content {
    /*height: 100%;*/
}

.tab-content-div {
    border-radius: 0px 5px 5px 5px;
}

.attributes-tab-content-horizontal {
    background-color: var(--color-main-white);
    height: 80%;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.attributes-tab-content-vertical {
    background-color: var(--color-main-white);
    height: 80%;
    overflow: hidden;
    border-radius: 5px;
}

#tab-content-main-navigation {
    background-color: transparent;
}

#tab-content-page-navigation {
    background-color: transparent;
}

#main-menu_tab-container {
    display: flex;
}

#person-accessories-tab-pane .tab-buttons button {

}

/*#person-accessories-tab-pane .tab-buttons button.active {*/
/*    background-color: var(--color-main-white);*/
/*}*/

#tab-content-main-navigation {
    border-radius: 0;
    background-color: var(--color-main-offcolor);
}

#main-menu-tab-pane {
    width: 100%;
    background-color: var(--color-main-black);
}

#main-menu-tab-pane .tab-buttons button {
    flex: 1;
    width: auto;
    border-radius: 0;
    background-color: var(--color-main-gray);
    color: var(--color-main-white);
}

#main-menu-tab-pane .tab-buttons button.active {
    font-weight: bold;
    background-color: var(--color-main-offcolor);
    color: var(--color-main-black-full);
}

#pageNavigation {
    background-color: var(--color-main-offcolor);
    width: 100%;
}

.slip-storage {
    padding-top: 10px;
    padding-left: 20px;
    height: 400px;
}

.slip-graphic {
    display: flex;
    flex-direction: row; /* Ensures children are laid out in a row (left-to-right) */
    align-items: center; /* Vertically centers children */
    justify-content: flex-start; /* Aligns children to the left */
    gap: 20px; /* Adds space between children */
}

.slip-label {
    color: black; /* Set "Slip:" text to black */
    font-weight: bold; /* Optional: Make the text bold */
}

.slip-name {
    color: var(--color-main-green); /* Set "C43" text to red */
    font-weight: bold; /* Optional: Make the text bold */
}

.slip-widget {
    /*border: 1px solid #ccc;*/
    padding: 10px;
    margin: 5px;
    max-width: 300px;
}

.radio-container label {
    display: block;
    /*margin-bottom: 5px;*/
}

.input-container {
    margin-top: 10px;
}

.release-sub-button {
    margin-top: 20px;
    margin-left: 95px;
}