.tab-buttons button {
    width: 150px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; /* Allow positioning the close button inside the tab */
    /* Ensure there's space for the close button */
    padding: 10px 30px 10px 10px;
    text-align: center;
}

.vertical {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.horizontal {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Hover effect */
.tab-buttons button:hover {
    background-color: #00b28f;
}

/* Active button style */
.tab-buttons button.active {
    background-color: #333;
    font-weight: bold;
    color: white;
}

.close-tab {
    position: absolute;
    top: 2px; /* Adjust to your needs, controls vertical position */
    right: 5px; /* Align it to the right */
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px; /* Adjust the size to make it larger */
    line-height: 1; /* Adjust the line height for proper alignment */
}

.close-tab:hover {
    color: #00b28f;
}
