/* titled-pane.css */
.titled-pane {
    border-radius: 8px; /* Ensures all corners are rounded */
    overflow: hidden; /* Ensures child elements do not affect the rounded corners */
    /*margin: 10px 0;*/
    box-sizing: border-box;
}

.titled-pane .title-pane-title {
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px; /* Matches parent radius */
    border-top-right-radius: 8px;
}

.titled-pane .title-pane-content {
    margin-top: 5px;
    margin-bottom: 5px;
}

.titled-pane.open .title-pane-content {
    display: block;
}
