#treeview-container {
    /*max-width: 200px;*/
    overflow-y: auto;
    padding: 10px;
    height: 600px;
}

#treeview {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
}

#treeview li {
    margin: 5px 0;
    cursor: pointer;
}

#treeview li ul {
    list-style-type: none; /* Remove bullets */
    /*margin-left: 7px; */
    padding-inline-start: 20px; /* Reduce the default padding */
    display: none; /* Initially hide child nodes */
}

#treeview li.open > ul {
    display: block; /* Show child nodes when parent is open */
}

#treeview li span {
    display: inline-block;
    margin-right: 5px;
}

#treeview li span.toggle {
    font-weight: bold;
    color: var(--color-main-green);
    cursor: pointer;
}

.selected-chart {
    /*background-color: #007bff;*/
    color: var(--color-main-green);
    font-weight: bold;
    /*padding: 2px 5px;*/
    /*border-radius: 4px;*/
}