<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Board Of Directors</title>
    <script th:inline="javascript">
        let boardOfDirectors = /*[[${bod}]]*/ {};
        let year = [[${year}]] || new Date().getFullYear();
        let theme = [[${theme}]];
    </script>
    <link rel="stylesheet" th:href="@{/css/bod.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css"/>
    <script th:src="@{/js/bod-stripped.js}" defer></script>
    <!--    <script src="js/components.js"></script>-->
</head>
<body>
<div class="main-content" id="main"></div>
</body>
</html>