<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/email-error.css" type="text/css" />
</head>
<body>
<div class="image-div">
    <img src="images/ecsc_logo_small.png" alt="ECSC" />
</div>
<br /><br />
<div>
    <h1>Something went wrong!</h1>
    <p th:text="${errorMessage}"></p>
    <p>Perhaps you mistyped it? You can try any other email on your account.</p>
    <p>You can also check with the membership chair to see if your email is in the system.</p>
</div>
<br />
<div>
    <form action="/renew">
        <button type="submit" value="check email" id="submit-button">Try Again</button>
    </form>
</div>
</body>
</html>