<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>ECSC: Email Authentication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/auth.css}" type="text/css" />
</head>
<body>
<div id="main-div">
    <div class="div-common" id="image-div">
        <img src="images/2024.png" alt="ECSC" />
    </div>

    <div class="div-common" id="form-div">
        <form action="#" th:action="@{/renew}" method="post">
            <!-- <div> -->
            <div id="email-div">
                <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="email"
                        aria-describedby="emailSubmit"
                        placeholder=" Email"
                />
            </div>
            <div id="email-subscript-div" class="div-common">
                <small id="email-help-div" class="form-text text-muted"
                >Use any email listed in your membership</small
                >
            </div>
            <div id="submit-button-div">
                <button id="submit-button" type="submit" value="check email">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
