<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Something went wrong!</title>
    <link rel="stylesheet" th:href="@{css/result.css}" type="text/css" />
</head>
<body>
<div>
    <br><br>
    <img src="images/2024thumb300.png" alt="ECSC">
</div>
<br><br>
<div class="text-center">
    <h1>Something went wrong! </h1>
    <p th:text="${errorMessage}"></p>
</div>
<br>
<div class="text-center">
    <form action = "/">
    <button type="submit" value="check email" >Try Again</button>
    </form>
</div>
</body>
</html>