<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:inline="javascript">
        let formSummaryData = /*[[${formSummaries}]]*/ {};
    </script>
    <link rel="stylesheet" href="css/table.css" type="text/css" />
    <link rel="stylesheet" href="/css/roster.css" type="text/css" />
    <script src="js/components.js"></script>
    <script src="js/form-request-summary.js" defer></script>
</head>
<body>
<div class="sidenav">
    <div id="logo">
        <img src="images/ecsc_logo_small.png" alt="logo" />
    </div>
    <div id="record-content-div">
        <label id="numb-of-records">Records: 201</label>
    </div>

    <div id="sidenav-year-container">
        <select id="sidenav-yearselect" class="sidenav-control" name="year"></select>
    </div>
</div>
<!-- Top navigation bar -->
<div class="topnav">
    <div id="list-select-div">
        <select id="topnav-yearselect" class="topnav-control" name="topnavlists"></select>
    </div>
</div>

<div class="main-content">
    <div id="formRequestTable"></div>
</div>
</body>
</html>