<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECSC Main</title>
    <!-- CSRF Meta Tags for JavaScript -->
    <meta name="_csrf" th:content="${_csrf}" />
    <meta name="_csrf_header" th:content="${_csrf_header}" />
    <script th:inline="javascript">
        let userRoles = /*[[${roles}]]*/ [];
    </script>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/side-nav.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/gybe-chart.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/roster.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/bod.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/publicity.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/tabpane.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/titled-pane.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/editable-fields.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/small-table.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/medium-table.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/containers.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/address-block.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/dropdown.css}" type="text/css" />
    <script th:src="@{/js/definitions.js}"></script>
    <script th:src="@{/js/side-nav-controller.js}"></script>
    <script th:src="@{/js/components/chart.js}"></script>
    <script th:src="@{/js/membership-rest.js}"></script>
    <script th:src="@{/js/membership-person-box.js}"></script>
    <script th:src="@{/js/components/tabpane.js}"></script>
    <script th:src="@{/js/components/titled-pane.js}"></script>
    <script th:src="@{/js/components/editable-fields.js}"></script>
    <script th:src="@{/js/components/email-table.js}"></script>
    <script th:src="@{/js/components/phone-table.js}"></script>
    <script th:src="@{/js/components/position-table.js}"></script>
    <script th:src="@{/js/components/awards-table.js}"></script>
    <script th:src="@{/js/components/history-table.js}"></script>
    <script th:src="@{/js/components/containers.js}"></script>
    <script th:src="@{/js/components/address-block.js}"></script>
<!--    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>-->
</head>
<body>
<div class="sidenav">
    <div id="logo"></div>
    <div id="links"></div>
</div>
<div class="main-content" id="main-content"></div>
</body>
</html>


