<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECSC Main</title>
    <script th:inline="javascript">
        let userRoles = /*[[${roles}]]*/ [];
    </script>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/side-nav.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/gybe-chart.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/roster.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/bod.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/publicity.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/tabpane.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/titled-pane.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/editable-fields.css}" type="text/css" />
    <script th:src="@{/js/definitions.js}"></script>
    <script th:src="@{/js/side-nav-main.js}"></script>
    <script th:src="@{/js/chart.js}"></script>
    <script th:src="@{/js/membership-rest.js}"></script>
    <script th:src="@{/js/membership-person-box.js}"></script>
    <script th:src="@{/js/components/tabpane.js}"></script>
    <script th:src="@{/js/components/titled-pane.js}"></script>
    <script th:src="@{/js/components/editable-fields.js}"></script>
<!--    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>-->
</head>
<body>
<div class="sidenav">
    <div id="logo"></div>
    <div id="links">
        <div class="tabs">
            <button id="mainTab" class="tab active">Menu</button>
            <button id="pageTab" class="tab">Page Options</button>
        </div>

        <div id="mainNavigation">
            <!-- Main navigation links will go here -->
        </div>

        <div id="pageNavigation" style="display: none;">
            <!-- Page-specific navigation links will go here -->
        </div>
    </div>
</div>
<div class="main-content" id="main-content"></div>
</body>
</html>

