<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css" />
</head>
<body>
<div class="container">
    <img th:src="@{/images/ecsc_logo_white_big.png}" alt="logo" />
        <div class="form-group text-body">
            <p th:utext="${message}">
                <!-- Default message if 'message' attribute is not present -->
                An email has been sent to your address with further instructions. If you don't receive it shortly, please check your spam or junk folder. For any assistance, feel free to <a href="mailto:register@ecsail.org?subject=Login%20Help">contact the administrator</a>.
            </p>
        </div>
</div>
</body>
</html>
