<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.2/dist/css/bootstrap.min.css}"/>
</head>
<body>
<div class="text-center">
    <br><br>
    <img src="images/ecsc2023.png" alt="ECSC">
</div>
<br><br>
<div class="text-center">
    <p th:text="'I am sorry ' + ${authDTO.getEmail()} + ' was not found in our system'"></p>
</div>
<br>
<div class="text-center">
    <form action = "/">
    <button type="submit" value="check email" class="btn btn-primary">Try Again</button>
    </form>
</div>
</body>
</html>