<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rosters</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/roster.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css"/>
    <script th:src="@{js/rosters.js}" defer></script>
    <script th:src="@{/js/side-nav-roster.js}"></script>
    <script th:src="@{/js/top-nav-main.js}"></script>
    <script th:inline="javascript">
        let rosters = /*[[${rosters}]]*/ {};
    </script>
</head>
<body>
<div class="sidenav"></div>
<div class="topnav" id="top-nav"></div>
<div class="main-content" id="main"></div>
</body>
</html>
