<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css"/>
    <script th:src="@{/js/set-pass.js}" defer></script>
</head>
<body>
<div class="container">
    <img src="images/ecsc_logo_white_big.png" alt="logo"/>
    <div th:if="${status} == 'NEW_ACCOUNT'" id="existingMessage1">
        <p>Your username will be your username as seen below, Please set the password for your account by putting it in twice.</p>
    </div>
    <div th:if="${status} == 'EXISTING'" id="existingMessage2">
        <p>Please reset your password by putting it in twice.</p>
    </div>
    <div id="displayedName">
        <p><span class="highlight">Username</span>: <span th:text="${email}"></span></p>
    </div>
    <div id="formContainer">
    <form id="updatePasswordForm" method="post">
        <input type="hidden"  id="csrfToken" name="_csrf" th:value="${_csrf.token}">
        <input type="hidden" name="key" th:value="${key}">
        <input type="hidden" name="status" th:value="${status}">
        <input type="hidden" name="email" th:value="${email}">
        <div class="form-group">
            <input type="password" id="password1" name="password1" placeholder="Password" autocomplete="new-password"/>
        </div>
        <div class="form-group">
            <input type="password" id="password2" name="password2" placeholder="Password" autocomplete="new-password"/>
        </div>
        <div class="form-group">
<!--            <button th:if="${status} == 'EXISTING'" type="submit" id="submitBtn">Reset Password</button>-->
<!--            <button th:if="${status} == 'NEW_ACCOUNT'" type="submit" id="submitBtn">Create Account</button>-->
            <button type="submit" id="submitBtn">
                [[${status} == 'EXISTING' ? 'Reset Password' : 'Create Account']]
            </button>
        </div>
    </form>
    </div>
    <!-- Optional: Display error message -->
    <div class="error form-group">Passwords do not match</div>
</div>
</body>
</html>
