<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slip Wait List</title>
    <link rel="stylesheet" th:href="@{/css/slip-wait-list.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css" />
</head>
<body>
<div class="main-content">
    <table class="styled-table">
        <thead class="header-link">
        <tr>
            <th class="header" scope="col">#</th> <!-- New column for numbering -->
            <th class="header" scope="col">ID</th>
            <th class="header" scope="col">First Name</th>
            <th class="header" scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list, iterStat : ${waitList}">
            <td th:text="${iterStat.count}"></td> <!-- Display the row number -->
            <td th:text="${list.membershipId}"></td>
            <td th:text="${list.firstName}"></td>
            <td th:text="${list.lastName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
