<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slip Chart</title>
    <script th:inline="javascript">
        let slipOwners = /*[[${slipOwners}]]*/ {};
        let slipStructure = /*[[${slipStructure}]]*/ {};
    </script>
    <link rel="stylesheet" th:href="@{/css/side-top-nav-main.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css" />
    <script th:src="@{/js/top-nav-slip.js}" defer></script>
    <script th:src="@{/js/side-nav-slip.js}" defer></script>
    <script th:src="@{/js/slips.js}" defer></script>
</head>
<body>
<div class="sidenav"></div>
<div class="topnav" id="top-nav"></div>
<div class="main-content" id="main">
    <canvas id="slipChart" width="1200" height="1000"></canvas>
</div>
<div
        id="tooltip"
        style="
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid #d4d4d4;
        padding: 5px;
        border-radius: 5px;
        z-index: 1000;
      "
></div>
</body>
</html>